body{
	background: #ccc;
}
.post{
	display: inline-block;
}
.post-header{
	padding: 6px;
    margin: -15px -15px 1em;
}
.post-subject{
	font-weight: bold;
}
.post-sage{
	color: red;
}
.post-id{
	color: green
}
.post-form{
	width: 50%;
	display: block;
	margin: 1em auto;
}
.post-body{
	display: inline-block;
    width: 100%;
    padding-left: 0;
    vertical-align: top;
}